.board-container {
  position: relative;
  background-color: saddlebrown;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 577px;
  height: 577px;
  margin-top: 40px;
  transform-origin: center center;
}

.cnv {
  position: absolute;
  top: 13px;
  left: 13px;
  touch-action: none;
  max-width: 100%;
  height: auto;
}

.back-canvas {
  z-index: 1;
  background-color: #FFFFE0;
}

.front-canvas {
  z-index: 2;
  background-color: transparent;
}

.label {
  position: absolute;
  z-index: 3;
  background-color: #373737;
  padding: 5px 10px;
  text-align: center;
  width: 100px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto;
}

.label-top {
  top: -10px;
  left: 0;
  right: 0;
}

.label-bottom {
  bottom: -10px;
  left: 40%;
}

.toast {
  z-index: 15;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: yellow;
  color: black;
  line-height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 600px) {
  .board-container {
    width: 100vw;
    max-width: 100vw;
    height: 100vw;
    max-height: 100vw;
    margin-top: 0;
  }

  .cnv {
    width: calc(100vw - 26px) !important;
    height: calc(100vw - 26px) !important;
  }

  .label {
    font-size: 10px;
    padding: 3px 8px;
    width: 80px;
    height: 18px;
    line-height: 18px;
  }
}

/* Farcaster mini-app specific styles */
@media (max-width: 400px) {
  .board-container {
    width: 100vw;
    height: 100vw;
    margin-top: 0;
    padding: 0;
  }

  .cnv {
    width: calc(100vw - 26px) !important;
    height: calc(100vw - 26px) !important;
    top: 13px;
    left: 13px;
  }

  .label {
    font-size: 9px;
    padding: 2px 6px;
    width: 70px;
    height: 16px;
    line-height: 16px;
  }

  .label-top {
    top: -5px;
  }

  .label-bottom {
    bottom: -5px;
  }
}

/* Ensure canvas maintains aspect ratio */
.cnv {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

