.menu-box {
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px;
  margin: 20px;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
  border: 2px solid deepskyblue;
  text-align: center;
  user-select: none;
}

.btn:hover {
  background-color: deepskyblue;
  color: white;
}

.btn:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .menu-box {
    width: 250px;
    height: 80px;
    top: 30px;
  }

  .btn {
    font-size: 14px;
    padding: 8px;
    margin: 15px;
  }
}

